  
    input[type=submit] {
    
    
        width: 17%;
        
        
        background-color: lightseagreen;
        
        
        color: white;
        
        
        padding: 10px 12px;
        
        
        margin: 8px 0;
        
        
        border: none;
        
        
        border-radius: 4px;
        
        
        cursor: pointer;
       }
      
    input[type=submit]:hover {
    
    
        opacity: 0.8
        
        
        }
        
  /* div.form-inline {
    
    background-color: lightseagreen;
    border-radius: 4px;

    
    border-color: black;
        
        
        
        }  */