
<div class="container">
    <form class="alert alert-info" #forgotpassword="ngForm">

        <div class="text-center">
            <label><strong>Enter Registered Email Address</strong></label>
        </div>
        <br>
        <div class="text-center">
            <input type="text" required name="registeredEmail" class="form-control" value="">
        </div>
        <br>
        <!-- <small class="red" *ngIf="registeredEmail.touched">Email is required</small> -->

        <div class="text-center">
<!-- 
        <button [disabled]="forgotpassword.form.invalid" type="submit" class="example-full-width blue mt">Forgot
            Password</button> -->
            <button class=" btn btn-primary btn-center " [disabled]="forgotpassword.form.invalid" class="btn btn-info"> Submit </button>



        </div>
    </form>
    <!-- <a class='signin' [routerLink]="['/#signin']">SignIn</a> -->

</div>