<h1 align="center">
        <strong>Company Profile</strong>
    </h1>
    <br>

<div class="card">
    <form >

        
        
        <br> <br> 
        <div class="text-justify">
                Insurance is a means of protection from financial loss. It is a form of risk management, primarily used to hedge against the risk of a contingent or uncertain loss.

                A person or entity who buys insurance is known as an insured or as a policyholder. The insurance transaction involves the insured assuming a guaranteed and known relatively small loss in the form of payment to the insurer in exchange for the insurer's promise to compensate the insured in the event of a covered loss. The loss may or may not be financial, but it must be reducible to financial terms, and usually involves something in which the insured has an insurable interest established by ownership, possession, or pre-existing relationship.
               
               
               The idea’s quite simple – you pay a certain amount (the premium) in exchange for the insurance company’s guarantee that you or your family will be compensated financially if something unexpected happens to you or your property. In the case of a life insurance policy, you designate a beneficiary who will receive a sum of money (the benefit) in the event of your death. The idea is that this money will help them recover from their loss, especially if your death creates any financial problems.
               
        </div>
        
    </form>
</div>