<div class="card">
  <form >
    <div>
      <h1 align="center"><strong>Insurance Policies</strong></h1>
    </div>
    <div>
      <h3 align="left">
        <strong>
          Life Insurance</strong>
      </h3>
      <p align="left">Life insurance is a contract between an insurance policy holder and an insurer or assurer, where
        the insurer promises to pay a designated beneficiary a sum of money in exchange for a premium, upon the death of
        an insured person. A life insurance policy is a contract with an insurance company. In exchange for premium
        payments, the insurance company provides a lump-sum payment, known as a death benefit, to beneficiaries upon the
        insured's death. Typically, life insurance is chosen based on the needs and goals of the owner.

      </p>

      <input align="left" type="submit" value="View Details" routerLink="../plans/1">


    </div>
    <br>
    <div>


      <h3 align="left"><strong>Dental Insurance</strong></h3>
      <p align="left">Dental insurance is a form of health insurance designed to pay a portion of the costs associated
        with dental care. Choosing a dental insurance plan is almost as big of a decision as choosing a dentist. And in
        some ways, picking a plan is more challenging. One or two visits to a dentist for a checkup and cleaning will
        likely be enough for you to figure out whether you and the practice are a good fit over the long term. But you
        may not discover problems with your dental insurance until you really need the coverage.</p>

      <input align="left" type="submit" value="View Details" routerLink="../plans/2">

    </div>
    <br>
    <div>
      <h3 align="left"><strong>Dental and Vision Insurance</strong></h3>
      <p align="left">Dental insurance is a form of health insurance designed to pay a portion of the costs associated
        with dental care. The term "vision insurance" is commonly used to describe health and wellness plans designed to
        reduce your costs for routine preventive eye care (eye exams) and prescription eyewear (eyeglasses and contact
        lenses). The term "vision insurance" is commonly used to describe health and wellness plans designed to reduce
        your costs for routine preventive eye care (eye exams) and prescription eyewear (eyeglasses and contact lenses).
        Some vision plans also offer discounts on elective vision correction surgery, such as LASIK and PRK.

      </p>

      <input align="left" type="submit" value="View Details" routerLink="../plans/3">


    </div>


  </form>
</div>