body {



    font-family: Arial;
    
    
    }
    
    /*
    input[type=text], select {
    
    
    width: 50%;
    
    
    padding: 12px 20px;
    
    
    margin: 8px 0;
    
    
    display: block;
    
    
    border: 1px solid lightseagreen;
    
    
    border-radius: 4px;
    
    
    box-sizing: border-box;
    
    
    }
    
    
    
     */
    input[type=submit] {
    
    
    width: 30%;
    
    
    background-color: lightseagreen;
    
    
    color: white;
    
    
    padding: 14px 20px;
    
    
    margin: 8px 0;
    
    
    border: none;
    
    
    border-radius: 4px;
    
    
    cursor: pointer;
    
    
    }
        
    
    
    input[type=submit]:hover {
    
    
    opacity: 0.8
    
    
    }
    
    
    
    div.container {
    
    
    border-radius: 5px;
    
    
    /* background-color: mediumturquoise; */
    
    
    padding: 20px;
    
    
    width: 40%;
    
    
    margin: 2% auto 5% auto;
    
    
    }
    label {
        display: block;
        font: 1rem 'Fira Sans', sans-serif;
    }
    
    input,
    label {
        margin: .4rem 0;
    }
   